# Final Project CAP 4784

In [1]:
from pyspark.sql import SparkSession

In [2]:
import pyspark.sql.functions as F

In [3]:
from pyspark.sql.types import *

## Import growth_data.csv

In [4]:
df_data=spark.read.csv('growth_data.csv' \
                      ,header=True \
                      ,inferSchema=True)

In [5]:
# Verify data was imported.
df_data.count()

264

In [6]:
# Verify schema of df_data
df_data.printSchema()

root
 |-- Country_Name: string (nullable = true)
 |-- Country_Code: string (nullable = true)
 |-- 1960: double (nullable = true)
 |-- 1961: double (nullable = true)
 |-- 1962: double (nullable = true)
 |-- 1963: double (nullable = true)
 |-- 1964: double (nullable = true)
 |-- 1965: double (nullable = true)
 |-- 1966: double (nullable = true)
 |-- 1967: double (nullable = true)
 |-- 1968: double (nullable = true)
 |-- 1969: double (nullable = true)
 |-- 1970: double (nullable = true)
 |-- 1971: double (nullable = true)
 |-- 1972: double (nullable = true)
 |-- 1973: double (nullable = true)
 |-- 1974: double (nullable = true)
 |-- 1975: double (nullable = true)
 |-- 1976: double (nullable = true)
 |-- 1977: double (nullable = true)
 |-- 1978: double (nullable = true)
 |-- 1979: double (nullable = true)
 |-- 1980: double (nullable = true)
 |-- 1981: double (nullable = true)
 |-- 1982: double (nullable = true)
 |-- 1983: double (nullable = true)
 |-- 1984: double (nullable = true)
 |-- 1985: double (nullable = true)
 |-- 1986: double (nullable = true)
 |-- 1987: double (nullable = true)
 |-- 1988: double (nullable = true)
 |-- 1989: double (nullable = true)
 |-- 1990: double (nullable = true)
 |-- 1991: double (nullable = true)
 |-- 1992: double (nullable = true)
 |-- 1993: double (nullable = true)
 |-- 1994: double (nullable = true)
 |-- 1995: double (nullable = true)
 |-- 1996: double (nullable = true)
 |-- 1997: double (nullable = true)
 |-- 1998: double (nullable = true)
 |-- 1999: double (nullable = true)
 |-- 2000: double (nullable = true)
 |-- 2001: double (nullable = true)
 |-- 2002: double (nullable = true)
 |-- 2003: double (nullable = true)
 |-- 2004: double (nullable = true)
 |-- 2005: double (nullable = true)
 |-- 2006: double (nullable = true)
 |-- 2007: double (nullable = true)
 |-- 2008: double (nullable = true)
 |-- 2009: double (nullable = true)
 |-- 2010: double (nullable = true)
 |-- 2011: double (nullable = true)
 |-- 2012: double (nullable = true)
 |-- 2013: double (nullable = true)
 |-- 2014: double (nullable = true)
 |-- 2015: double (nullable = true)
 |-- 2016: double (nullable = true)
 |-- 2017: double (nullable = true)
 |-- 2018: double (nullable = true)

## Import country_codes.csv

In [7]:
df_countries=spark.read.csv('country_codes.csv' \
                           ,header=True \
                           ,inferSchema=True)

In [8]:
# Verify country_codes.csv was imported
df_countries.count()

263

In [9]:
# Verify schema of df_countries
df_countries.printSchema()

root
 |-- Country_Code: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- IncomeGroup: string (nullable = true)
 |-- SpecialNotes: string (nullable = true)
 |-- TableName: string (nullable = true)

## Join df_data and df_countries

In [10]:
df_combined=df_data.join(df_countries,on='Country_Code')

In [11]:
df_combined.printSchema()

root
 |-- Country_Code: string (nullable = true)
 |-- Country_Name: string (nullable = true)
 |-- 1960: double (nullable = true)
 |-- 1961: double (nullable = true)
 |-- 1962: double (nullable = true)
 |-- 1963: double (nullable = true)
 |-- 1964: double (nullable = true)
 |-- 1965: double (nullable = true)
 |-- 1966: double (nullable = true)
 |-- 1967: double (nullable = true)
 |-- 1968: double (nullable = true)
 |-- 1969: double (nullable = true)
 |-- 1970: double (nullable = true)
 |-- 1971: double (nullable = true)
 |-- 1972: double (nullable = true)
 |-- 1973: double (nullable = true)
 |-- 1974: double (nullable = true)
 |-- 1975: double (nullable = true)
 |-- 1976: double (nullable = true)
 |-- 1977: double (nullable = true)
 |-- 1978: double (nullable = true)
 |-- 1979: double (nullable = true)
 |-- 1980: double (nullable = true)
 |-- 1981: double (nullable = true)
 |-- 1982: double (nullable = true)
 |-- 1983: double (nullable = true)
 |-- 1984: double (nullable = true)
 |-- 1985: double (nullable = true)
 |-- 1986: double (nullable = true)
 |-- 1987: double (nullable = true)
 |-- 1988: double (nullable = true)
 |-- 1989: double (nullable = true)
 |-- 1990: double (nullable = true)
 |-- 1991: double (nullable = true)
 |-- 1992: double (nullable = true)
 |-- 1993: double (nullable = true)
 |-- 1994: double (nullable = true)
 |-- 1995: double (nullable = true)
 |-- 1996: double (nullable = true)
 |-- 1997: double (nullable = true)
 |-- 1998: double (nullable = true)
 |-- 1999: double (nullable = true)
 |-- 2000: double (nullable = true)
 |-- 2001: double (nullable = true)
 |-- 2002: double (nullable = true)
 |-- 2003: double (nullable = true)
 |-- 2004: double (nullable = true)
 |-- 2005: double (nullable = true)
 |-- 2006: double (nullable = true)
 |-- 2007: double (nullable = true)
 |-- 2008: double (nullable = true)
 |-- 2009: double (nullable = true)
 |-- 2010: double (nullable = true)
 |-- 2011: double (nullable = true)
 |-- 2012: double (nullable = true)
 |-- 2013: double (nullable = true)
 |-- 2014: double (nullable = true)
 |-- 2015: double (nullable = true)
 |-- 2016: double (nullable = true)
 |-- 2017: double (nullable = true)
 |-- 2018: double (nullable = true)
 |-- Region: string (nullable = true)
 |-- IncomeGroup: string (nullable = true)
 |-- SpecialNotes: string (nullable = true)
 |-- TableName: string (nullable = true)

## Total number of records

In [12]:
df_combined.count()

263

## Using UDF to calculate the average growth per record

In [13]:
from pyspark.sql.functions import col

marksColumns = [col('1960'), col('1961'),col('1962'),col('1963'),col('1964'),col('1965'),col('1966'),col('1967') \
               ,col('1968'),col('1969'),col('1970'),col('1971'),col('1972'),col('1973'),col('1974'),col('1975') \
               ,col('1976'),col('1977'),col('1978'),col('1979'),col('1980'),col('1981'),col('1982'),col('1983') \
               ,col('1984'),col('1985'),col('1986'),col('1987'),col('1988'),col('1989'),col('1990'),col('1991') \
               ,col('1992'), col('1993'),col('1994'),col('1995'),col('1996'),col('1997') \
               ,col('1998'), col('1999'),col('2000'),col('2001'),col('2002'),col('2003'),col('2004'),col('2005') \
               ,col('2006'),col('2007'),col('2008'),col('2009'),col('2010'),col('2011'),col('2012'),col('2013') \
               ,col('2014'),col('2015'),col('2016'),col('2017'),col('2018')]

averageFunc = sum(x for x in marksColumns)/len(marksColumns)

# add Avg_Growth to dataframe
df_average=df_combined.withColumn('Avg_Growth', averageFunc)

## Create a new dataframe
    - Country_name
    - Country_Code,
    - Region,
    - IncomeGroup,
    - Avg_Growth

In [14]:
spark.catalog.dropTempView("df_temp")
df_average.createOrReplaceTempView('df_temp')
query='''
        select 
            Country_name,
            Country_code,
            region,
            IncomeGroup,
            Avg_Growth
        from df_temp '''

df_summary=spark.sql(query)

In [15]:
df_summary.show(df_summary.count())

+--------------------+------------+--------------------+-------------------+--------------------+
|        Country_name|Country_code|              region|        IncomeGroup|          Avg_Growth|
+--------------------+------------+--------------------+-------------------+--------------------+
|               Aruba|         ABW|Latin America & C...|        High income|  1.1874106581084072|
|         Afghanistan|         AFG|          South Asia|         Low income|   2.435532836257381|
|              Angola|         AGO|  Sub-Saharan Africa|Lower middle income|  2.9576449299854315|
|             Albania|         ALB|Europe & Central ...|Upper middle income|   1.030024042742419|
|             Andorra|         AND|Europe & Central ...|        High income|  3.0818893379473686|
|          Arab World|         ARB|                null|               null|                null|
|United Arab Emirates|         ARE|Middle East & Nor...|        High income|  7.9739998445704146|
|           Argentina|         ARG|Latin America & C...|Upper middle income|  1.3429565033807718|
|             Armenia|         ARM|Europe & Central ...|Upper middle income|  0.8309020718417667|
|      American Samoa|         ASM| East Asia & Pacific|Upper middle income|  1.7438285869556542|
| Antigua and Barbuda|         ATG|Latin America & C...|        High income|   1.004800500788169|
|           Australia|         AUS| East Asia & Pacific|        High income|  1.5447155198103075|
|             Austria|         AUT|Europe & Central ...|        High income|  0.3940883330164894|
|          Azerbaijan|         AZE|Europe & Central ...|Upper middle income|  1.6443548113937243|
|             Burundi|         BDI|  Sub-Saharan Africa|         Low income|   2.380657361464993|
|             Belgium|         BEL|Europe & Central ...|        High income| 0.38642249242742616|
|               Benin|         BEN|  Sub-Saharan Africa|         Low income|    2.65343112351896|
|        Burkina Faso|         BFA|  Sub-Saharan Africa|         Low income|  2.4103854162630385|
|          Bangladesh|         BGD|          South Asia|Lower middle income|  2.1014523921056996|
|            Bulgaria|         BGR|Europe & Central ...|Upper middle income|-0.17598535868735332|
|             Bahrain|         BHR|Middle East & Nor...|        High income|  3.9044899934951203|
|        Bahamas, The|         BHS|Latin America & C...|        High income|   2.214459234758373|
|Bosnia and Herzeg...|         BIH|Europe & Central ...|Upper middle income|  0.0829386435497023|
|             Belarus|         BLR|Europe & Central ...|Upper middle income|  0.2637897630191854|
|              Belize|         BLZ|Latin America & C...|Upper middle income|  2.4645651921957117|
|             Bermuda|         BMU|       North America|        High income|  0.6480643351340484|
|             Bolivia|         BOL|Latin America & C...|Lower middle income|  1.9528503062387026|
|              Brazil|         BRA|Latin America & C...|Upper middle income|   1.854781572196185|
|            Barbados|         BRB|Latin America & C...|        High income|  0.3701778853349476|
|   Brunei Darussalam|         BRN| East Asia & Pacific|        High income|   2.891928267720927|
|              Bhutan|         BTN|          South Asia|Lower middle income|  2.1055946392832188|
|            Botswana|         BWA|  Sub-Saharan Africa|Upper middle income|  2.5729847914499393|
|Central African R...|         CAF|  Sub-Saharan Africa|         Low income|  1.9478562686758398|
|              Canada|         CAN|       North America|        High income|  1.2715080246555255|
|Central Europe an...|         CEB|                null|               null|                null|
|         Switzerland|         CHE|Europe & Central ...|        High income|  0.8318470883179961|
|     Channel Islands|         CHI|Europe & Central ...|        High income|  0.7656760515560592|
|               Chile|         CHL|Latin America & C...|        High income|  1.4491240140728974|
|               China|         CHN| East Asia & Pacific|Upper middle income|  1.2787369789766616|
|       Cote d'Ivoire|         CIV|  Sub-Saharan Africa|Lower middle income|  3.3925584576927648|
|            Cameroon|         CMR|  Sub-Saharan Africa|Lower middle income|    2.71748956142525|
|    Congo, Dem. Rep.|         COD|  Sub-Saharan Africa|         Low income|   2.935867038931991|
|         Congo, Rep.|         COG|  Sub-Saharan Africa|Lower middle income|  2.8179159814166876|
|            Colombia|         COL|Latin America & C...|Upper middle income|  1.9660538506593772|
|             Comoros|         COM|  Sub-Saharan Africa|Lower middle income|  2.5207823694285945|
|          Cabo Verde|         CPV|  Sub-Saharan Africa|Lower middle income|  1.7001655319445583|
|          Costa Rica|         CRI|Latin America & C...|Upper middle income|   2.305965231347022|
|Caribbean small s...|         CSS|                null|               null|                null|
|                Cuba|         CUB|Latin America & C...|Upper middle income|  0.8161768451269125|
|             Curacao|         CUW|Latin America & C...|        High income|  0.4316373790710421|
|      Cayman Islands|         CYM|Latin America & C...|        High income|  3.6004771675673486|
|              Cyprus|         CYP|Europe & Central ...|        High income|  1.2555248535415537|
|      Czech Republic|         CZE|Europe & Central ...|        High income| 0.19384435136371986|
|             Germany|         DEU|Europe & Central ...|        High income| 0.23369136088394313|
|            Djibouti|         DJI|Middle East & Nor...|Lower middle income|   4.218038671046437|
|            Dominica|         DMA|Latin America & C...|Upper middle income| 0.33089769438181904|
|             Denmark|         DNK|Europe & Central ...|        High income|  0.4109456765276159|
|  Dominican Republic|         DOM|Latin America & C...|Upper middle income|   2.042245338434088|
|             Algeria|         DZA|Middle East & Nor...|Upper middle income|   2.313732328962913|
|East Asia & Pacif...|         EAP|                null|               null|                null|
|Early-demographic...|         EAR|                null|               null|                null|
| East Asia & Pacific|         EAS|                null|               null|                null|
|Europe & Central ...|         ECA|                null|               null|                null|
|Europe & Central ...|         ECS|                null|               null|                null|
|             Ecuador|         ECU|Latin America & C...|Upper middle income|   2.292510849648579|
|    Egypt, Arab Rep.|         EGY|Middle East & Nor...|Lower middle income|   2.261910021699141|
|           Euro area|         EMU|                null|               null|                null|
|             Eritrea|         ERI|  Sub-Saharan Africa|         Low income|                null|
|               Spain|         ESP|Europe & Central ...|        High income|  0.7444035804034607|
|             Estonia|         EST|Europe & Central ...|        High income| 0.15778754505237572|
|            Ethiopia|         ETH|  Sub-Saharan Africa|         Low income|  2.7421127941250556|
|      European Union|         EUU|                null|               null|                null|
|Fragile and confl...|         FCS|                null|               null|                null|
|             Finland|         FIN|Europe & Central ...|        High income| 0.38561734051551966|
|                Fiji|         FJI| East Asia & Pacific|Upper middle income|  1.4275187812691006|
|              France|         FRA|Europe & Central ...|        High income|  0.6348006328826913|
|       Faroe Islands|         FRO|Europe & Central ...|        High income|  0.5937291730973777|
|Micronesia, Fed. ...|         FSM| East Asia & Pacific|Lower middle income|  1.6285361381076053|
|               Gabon|         GAB|  Sub-Saharan Africa|Upper middle income|  2.4594451645288316|
|      United Kingdom|         GBR|Europe & Central ...|        High income|  0.4094764109419955|
|             Georgia|         GEO|Europe & Central ...|Upper middle income| 0.07049637704259758|
|               Ghana|         GHA|  Sub-Saharan Africa|Lower middle income|  2.5959750857942456|
|           Gibraltar|         GIB|Europe & Central ...|        High income|   0.637277700423785|
|              Guinea|         GIN|  Sub-Saharan Africa|         Low income|  2.1763705150047454|
|         Gambia, The|         GMB|  Sub-Saharan Africa|         Low income|  3.1398001996263587|
|       Guinea-Bissau|         GNB|  Sub-Saharan Africa|         Low income|  1.9058357875852465|
|   Equatorial Guinea|         GNQ|  Sub-Saharan Africa|Upper middle income|  2.7939648155434194|
|              Greece|         GRC|Europe & Central ...|        High income|  0.4406495708597265|
|             Grenada|         GRD|Latin America & C...|Upper middle income| 0.39402634687636645|
|           Greenland|         GRL|Europe & Central ...|        High income|   0.990866084421487|
|           Guatemala|         GTM|Latin America & C...|Upper middle income|   2.440081335344501|
|                Guam|         GUM| East Asia & Pacific|        High income|  1.5707185293123191|
|              Guyana|         GUY|Latin America & C...|Upper middle income|  0.5774329537352277|
|         High income|         HIC|                null|               null|                null|
|Hong Kong SAR, China|         HKG| East Asia & Pacific|        High income|  1.5751805538545949|
|            Honduras|         HND|Latin America & C...|Lower middle income|   2.671629112292579|
|Heavily indebted ...|         HPC|                null|               null|                null|
|             Croatia|         HRV|Europe & Central ...|        High income|-0.01028148352810963|
|               Haiti|         HTI|Latin America & C...|         Low income|  1.8239932185851366|
|             Hungary|         HUN|Europe & Central ...|        High income|-0.03239550903416332|
|           IBRD only|         IBD|                null|               null|                null|
|    IDA & IBRD total|         IBT|                null|               null|                null|
|           IDA total|         IDA|                null|               null|                null|
|           IDA blend|         IDB|                null|               null|                null|
|           Indonesia|         IDN| East Asia & Pacific|Lower middle income|  1.9347044277146173|
|            IDA only|         IDX|                null|               null|                null|
|         Isle of Man|         IMN|Europe & Central ...|        High income|   0.919158233647906|
|               India|         IND|          South Asia|Lower middle income|   1.896513023070612|
|             Ireland|         IRL|Europe & Central ...|        High income|    0.91036008959831|
|  Iran, Islamic Rep.|         IRN|Middle East & Nor...|Upper middle income|   2.276613402631724|
|                Iraq|         IRQ|Middle East & Nor...|Upper middle income|  2.8587375736968412|
|             Iceland|         ISL|Europe & Central ...|        High income|  1.2169245072295845|
|              Israel|         ISR|Middle East & Nor...|        High income|  2.4967885944035335|
|               Italy|         ITA|Europe & Central ...|        High income| 0.34819853356593655|
|             Jamaica|         JAM|Latin America & C...|Upper middle income|  1.0187080038658836|
|              Jordan|         JOR|Middle East & Nor...|Upper middle income|   4.101173488786667|
|               Japan|         JPN| East Asia & Pacific|        High income|  0.5460230223913862|
|          Kazakhstan|         KAZ|Europe & Central ...|Upper middle income|   1.105652983440521|
|               Kenya|         KEN|  Sub-Saharan Africa|Lower middle income|   3.179633658840498|
|     Kyrgyz Republic|         KGZ|Europe & Central ...|Lower middle income|  1.8608271506593541|
|            Cambodia|         KHM| East Asia & Pacific|Lower middle income|  1.8120794146277692|
|            Kiribati|         KIR| East Asia & Pacific|Lower middle income|  1.7937353590271181|
| St. Kitts and Nevis|         KNA|Latin America & C...|        High income| 0.04812313110951128|
|         Korea, Rep.|         KOR| East Asia & Pacific|        High income|  1.2778077115593134|
|              Kuwait|         KWT|Middle East & Nor...|        High income|                null|
|Latin America & C...|         LAC|                null|               null|                null|
|             Lao PDR|         LAO| East Asia & Pacific|Lower middle income|   2.077637931587408|
|             Lebanon|         LBN|Middle East & Nor...|Upper middle income|  2.3154073950672847|
|             Liberia|         LBR|  Sub-Saharan Africa|         Low income|   2.510491763540403|
|               Libya|         LBY|Middle East & Nor...|Upper middle income|  2.6462283611406483|
|           St. Lucia|         LCA|Latin America & C...|Upper middle income|  1.2145841316259607|
|Latin America & C...|         LCN|                null|               null|                null|
|Least developed c...|         LDC|                null|               null|                null|
|          Low income|         LIC|                null|               null|                null|
|       Liechtenstein|         LIE|Europe & Central ...|        High income|  1.4489933631751248|
|           Sri Lanka|         LKA|          South Asia|Upper middle income|  1.3727493723301487|
| Lower middle income|         LMC|                null|               null|                null|
| Low & middle income|         LMY|                null|               null|                null|
|             Lesotho|         LSO|  Sub-Saharan Africa|Lower middle income|  1.5958631473733729|
|Late-demographic ...|         LTE|                null|               null|                null|
|           Lithuania|         LTU|Europe & Central ...|        High income| 0.03295793782592182|
|          Luxembourg|         LUX|Europe & Central ...|        High income|  1.1327159209581275|
|              Latvia|         LVA|Europe & Central ...|        High income|-0.15127092407344855|
|    Macao SAR, China|         MAC| East Asia & Pacific|        High income|  2.2417768913721603|
|St. Martin (Frenc...|         MAF|Latin America & C...|        High income|    3.87042898432524|
|             Morocco|         MAR|Middle East & Nor...|Lower middle income|  1.8703969713260635|
|              Monaco|         MCO|Europe & Central ...|        High income|  0.9584990496234724|
|             Moldova|         MDA|Europe & Central ...|Lower middle income|  0.6052974702951692|
|          Madagascar|         MDG|  Sub-Saharan Africa|         Low income|  2.8182317772331023|
|            Maldives|         MDV|          South Asia|Upper middle income|  3.0050831155740827|
|Middle East & Nor...|         MEA|                null|               null|                null|
|              Mexico|         MEX|Latin America & C...|Upper middle income|  2.0973147011743225|
|    Marshall Islands|         MHL| East Asia & Pacific|Upper middle income|   2.374584655766638|
|       Middle income|         MIC|                null|               null|                null|
|     North Macedonia|         MKD|Europe & Central ...|Upper middle income|  0.5909040787859301|
|                Mali|         MLI|  Sub-Saharan Africa|         Low income|  2.2013790304294183|
|               Malta|         MLT|Middle East & Nor...|        High income|  0.7332144992235768|
|             Myanmar|         MMR| East Asia & Pacific|Lower middle income|  1.5697380769315168|
|Middle East & Nor...|         MNA|                null|               null|                null|
|          Montenegro|         MNE|Europe & Central ...|Upper middle income| 0.47095949751550864|
|            Mongolia|         MNG| East Asia & Pacific|Lower middle income|  2.0758926902303183|
|Northern Mariana ...|         MNP| East Asia & Pacific|        High income|   3.007693729259584|
|          Mozambique|         MOZ|  Sub-Saharan Africa|         Low income|  2.4292231985264188|
|          Mauritania|         MRT|  Sub-Saharan Africa|Lower middle income|  2.8363232311751365|
|           Mauritius|         MUS|  Sub-Saharan Africa|Upper middle income|  1.1532458434519908|
|              Malawi|         MWI|  Sub-Saharan Africa|         Low income|  2.7527987798984586|
|            Malaysia|         MYS| East Asia & Pacific|Upper middle income|    2.34363228097572|
|       North America|         NAC|                null|               null|                null|
|             Namibia|         NAM|  Sub-Saharan Africa|Upper middle income|   2.328644332152019|
|       New Caledonia|         NCL| East Asia & Pacific|        High income|  2.2351776619453805|
|               Niger|         NER|  Sub-Saharan Africa|         Low income|   3.251522908398026|
|             Nigeria|         NGA|  Sub-Saharan Africa|Lower middle income|  2.5211856900348617|
|           Nicaragua|         NIC|Latin America & C...|Lower middle income|   2.246834594442012|
|         Netherlands|         NLD|Europe & Central ...|        High income|  0.7204220796976111|
|              Norway|         NOR|Europe & Central ...|        High income|  0.6832083609726789|
|               Nepal|         NPL|          South Asia|         Low income|  1.7597405397900359|
|               Nauru|         NRU| East Asia & Pacific|Upper middle income|   1.881646238103342|
|         New Zealand|         NZL| East Asia & Pacific|        High income|                null|
|        OECD members|         OED|                null|               null|                null|
|                Oman|         OMN|Middle East & Nor...|        High income|   3.715534269437047|
|  Other small states|         OSS|                null|               null|                null|
|            Pakistan|         PAK|          South Asia|Lower middle income|  2.6679319067454745|
|              Panama|         PAN|Latin America & C...|        High income|    2.26122339004885|
|                Peru|         PER|Latin America & C...|Upper middle income|  1.9921902824571243|
|         Philippines|         PHL| East Asia & Pacific|Lower middle income|  2.4315316579334674|
|               Palau|         PLW| East Asia & Pacific|        High income|  1.0769062210156481|
|    Papua New Guinea|         PNG| East Asia & Pacific|Lower middle income|   2.299094783023585|
|              Poland|         POL|Europe & Central ...|        High income|    0.47685307944642|
|Pre-demographic d...|         PRE|                null|               null|                null|
|         Puerto Rico|         PRI|Latin America & C...|        High income|  0.5308439078317496|
|Korea, Dem. Peopl...|         PRK| East Asia & Pacific|         Low income|  1.4061451310647322|
|            Portugal|         PRT|Europe & Central ...|        High income| 0.25350995041110036|
|            Paraguay|         PRY|Latin America & C...|Upper middle income|  2.2402607243287096|
|  West Bank and Gaza|         PSE|Middle East & Nor...|Lower middle income|                null|
|Pacific island sm...|         PSS|                null|               null|                null|
|Post-demographic ...|         PST|                null|               null|                null|
|    French Polynesia|         PYF| East Asia & Pacific|        High income|   2.200488686594739|
|               Qatar|         QAT|Middle East & Nor...|        High income|  7.0233221768373335|
|             Romania|         ROU|Europe & Central ...|Upper middle income|  0.1095922284912149|
|  Russian Federation|         RUS|Europe & Central ...|Upper middle income| 0.34099918143148206|
|              Rwanda|         RWA|  Sub-Saharan Africa|         Low income|   2.471117830201884|

## Use the filter function to show the records that have a null average growth.

In [16]:
df_summary.filter(df_summary.Avg_Growth.isNull()).select(['Country_name']).show(df_summary.count())

+--------------------+
|        Country_name|
+--------------------+
|          Arab World|
|Central Europe an...|
|Caribbean small s...|
|East Asia & Pacif...|
|Early-demographic...|
| East Asia & Pacific|
|Europe & Central ...|
|Europe & Central ...|
|           Euro area|
|             Eritrea|
|      European Union|
|Fragile and confl...|
|         High income|
|Heavily indebted ...|
|           IBRD only|
|    IDA & IBRD total|
|           IDA total|
|           IDA blend|
|            IDA only|
|              Kuwait|
|Latin America & C...|
|Latin America & C...|
|Least developed c...|
|          Low income|
| Lower middle income|
| Low & middle income|
|Late-demographic ...|
|Middle East & Nor...|
|       Middle income|
|Middle East & Nor...|
|       North America|
|         New Zealand|
|        OECD members|
|  Other small states|
|Pre-demographic d...|
|  West Bank and Gaza|
|Pacific island sm...|
|Post-demographic ...|
|          South Asia|
|              Serbia|
|Sub-Saharan Afric...|
|  Sub-Saharan Africa|
|        Small states|
|Sint Maarten (Dut...|
|          Seychelles|
|East Asia & Pacif...|
|Europe & Central ...|
|Latin America & t...|
|Middle East & Nor...|
|South Asia (IDA &...|
|Sub-Saharan Afric...|
| Upper middle income|
|               World|
+--------------------+

In [17]:
df_summary.filter(df_summary.Avg_Growth.isNull()).count()

53

## Use the where clause to show all the records that have a non-null average growth rate.

In [18]:
df_summary.where(df_summary.Avg_Growth.isNotNull()).select(['Country_name']).show(df_summary.count())

+--------------------+
|        Country_name|
+--------------------+
|               Aruba|
|         Afghanistan|
|              Angola|
|             Albania|
|             Andorra|
|United Arab Emirates|
|           Argentina|
|             Armenia|
|      American Samoa|
| Antigua and Barbuda|
|           Australia|
|             Austria|
|          Azerbaijan|
|             Burundi|
|             Belgium|
|               Benin|
|        Burkina Faso|
|          Bangladesh|
|            Bulgaria|
|             Bahrain|
|        Bahamas, The|
|Bosnia and Herzeg...|
|             Belarus|
|              Belize|
|             Bermuda|
|             Bolivia|
|              Brazil|
|            Barbados|
|   Brunei Darussalam|
|              Bhutan|
|            Botswana|
|Central African R...|
|              Canada|
|         Switzerland|
|     Channel Islands|
|               Chile|
|               China|
|       Cote d'Ivoire|
|            Cameroon|
|    Congo, Dem. Rep.|
|         Congo, Rep.|
|            Colombia|
|             Comoros|
|          Cabo Verde|
|          Costa Rica|
|                Cuba|
|             Curacao|
|      Cayman Islands|
|              Cyprus|
|      Czech Republic|
|             Germany|
|            Djibouti|
|            Dominica|
|             Denmark|
|  Dominican Republic|
|             Algeria|
|             Ecuador|
|    Egypt, Arab Rep.|
|               Spain|
|             Estonia|
|            Ethiopia|
|             Finland|
|                Fiji|
|              France|
|       Faroe Islands|
|Micronesia, Fed. ...|
|               Gabon|
|      United Kingdom|
|             Georgia|
|               Ghana|
|           Gibraltar|
|              Guinea|
|         Gambia, The|
|       Guinea-Bissau|
|   Equatorial Guinea|
|              Greece|
|             Grenada|
|           Greenland|
|           Guatemala|
|                Guam|
|              Guyana|
|Hong Kong SAR, China|
|            Honduras|
|             Croatia|
|               Haiti|
|             Hungary|
|           Indonesia|
|         Isle of Man|
|               India|
|             Ireland|
|  Iran, Islamic Rep.|
|                Iraq|
|             Iceland|
|              Israel|
|               Italy|
|             Jamaica|
|              Jordan|
|               Japan|
|          Kazakhstan|
|               Kenya|
|     Kyrgyz Republic|
|            Cambodia|
|            Kiribati|
| St. Kitts and Nevis|
|         Korea, Rep.|
|             Lao PDR|
|             Lebanon|
|             Liberia|
|               Libya|
|           St. Lucia|
|       Liechtenstein|
|           Sri Lanka|
|             Lesotho|
|           Lithuania|
|          Luxembourg|
|              Latvia|
|    Macao SAR, China|
|St. Martin (Frenc...|
|             Morocco|
|              Monaco|
|             Moldova|
|          Madagascar|
|            Maldives|
|              Mexico|
|    Marshall Islands|
|     North Macedonia|
|                Mali|
|               Malta|
|             Myanmar|
|          Montenegro|
|            Mongolia|
|Northern Mariana ...|
|          Mozambique|
|          Mauritania|
|           Mauritius|
|              Malawi|
|            Malaysia|
|             Namibia|
|       New Caledonia|
|               Niger|
|             Nigeria|
|           Nicaragua|
|         Netherlands|
|              Norway|
|               Nepal|
|               Nauru|
|                Oman|
|            Pakistan|
|              Panama|
|                Peru|
|         Philippines|
|               Palau|
|    Papua New Guinea|
|              Poland|
|         Puerto Rico|
|Korea, Dem. Peopl...|
|            Portugal|
|            Paraguay|
|    French Polynesia|
|               Qatar|
|             Romania|
|  Russian Federation|
|              Rwanda|
|        Saudi Arabia|
|               Sudan|
|             Senegal|
|           Singapore|
|     Solomon Islands|
|        Sierra Leone|
|         El Salvador|
|          San Marino|
|             Somalia|
|         South Sudan|
|Sao Tome and Prin...|
|            Suriname|
|     Slovak Republic|
|            Slovenia|
|              Sweden|
|            Eswatini|
|Syrian Arab Republic|
|Turks and Caicos ...|
|                Chad|
|                Togo|
|            Thailand|
|          Tajikistan|
|        Turkmenistan|
|         Timor-Leste|
|               Tonga|
| Trinidad and Tobago|
|             Tunisia|
|              Turkey|
|              Tuvalu|
|            Tanzania|
|              Uganda|
|             Ukraine|
|             Uruguay|
|       United States|
|          Uzbekistan|
|St. Vincent and t...|
|       Venezuela, RB|
|British Virgin Is...|
|Virgin Islands (U...|
|             Vietnam|
|             Vanuatu|
|               Samoa|
|              Kosovo|
|         Yemen, Rep.|
|        South Africa|
|              Zambia|
|            Zimbabwe|
+--------------------+

In [19]:
df_summary.where(df_summary.Avg_Growth.isNotNull()).count()

210

## Aggregation

Remove data with null values in avg_growth before using aggregation

In [20]:
spark.catalog.dropTempView("df_temp")
df_summary.createOrReplaceTempView('df_temp')
query='''
        select 
            Country_name,
            Country_code,
            region,
            IncomeGroup,
            Avg_Growth
        from df_temp 
        where Avg_Growth IS NOT NULL'''

df_non_null_data=spark.sql(query)

In [21]:
df_non_null_data.groupBy('Region').agg(F.mean('Avg_Growth')).show(truncate=False)

+--------------------------+------------------+
|Region                    |avg(Avg_Growth)   |
+--------------------------+------------------+
|Latin America & Caribbean |1.6452694401063142|
|South Asia                |2.168074728144582 |
|Sub-Saharan Africa        |2.5458202108397052|
|Europe & Central Asia     |0.762773237720641 |
|Middle East & North Africa|3.2223036268827836|
|East Asia & Pacific       |1.8463231979647594|
|North America             |0.9849502783965404|
+--------------------------+------------------+

In [22]:
df_non_null_data.groupBy('IncomeGroup').agg(F.mean('Avg_Growth')).show(truncate=False)

+-------------------+------------------+
|IncomeGroup        |avg(Avg_Growth)   |
+-------------------+------------------+
|High income        |1.3999248336438435|
|Low income         |2.494096718841889 |
|Lower middle income|2.2367045075714262|
|Upper middle income|1.5818141110861337|
+-------------------+------------------+

In [23]:
#from pyspark.sql.functions import desc
df_non_null_data.groupBy('Region', 'IncomeGroup').agg(F.mean('Avg_Growth')).sort('Region').show(truncate=False)

+--------------------------+-------------------+------------------+
|Region                    |IncomeGroup        |avg(Avg_Growth)   |
+--------------------------+-------------------+------------------+
|East Asia & Pacific       |Lower middle income|2.0596108795335195|
|East Asia & Pacific       |Low income         |1.4061451310647322|
|East Asia & Pacific       |Upper middle income|1.596952527769122 |
|East Asia & Pacific       |High income        |1.8597519403366365|
|Europe & Central Asia     |Upper middle income|0.7788090060194871|
|Europe & Central Asia     |High income        |0.6576877232632173|
|Europe & Central Asia     |Lower middle income|1.2276650829817717|
|Europe & Central Asia     |Low income         |2.550833367118104 |
|Latin America & Caribbean |Low income         |1.8239932185851366|
|Latin America & Caribbean |Upper middle income|1.568635940496616 |
|Latin America & Caribbean |High income        |1.6196206675109663|
|Latin America & Caribbean |Lower middle income|2.0863510839164916|
|Middle East & North Africa|Lower middle income|2.524414718628422 |
|Middle East & North Africa|Upper middle income|2.7519820917143463|
|Middle East & North Africa|High income        |4.2105874233063485|
|Middle East & North Africa|Low income         |2.5700527614143427|
|North America             |High income        |0.9849502783965404|
|South Asia                |Low income         |2.0976366880237083|
|South Asia                |Lower middle income|2.192872990301251 |
|South Asia                |Upper middle income|2.1889162439521157|
+--------------------------+-------------------+------------------+
only showing top 20 rows

## Collect set

In [26]:
df_non_null_data.groupBy('Region').agg(F.collect_set('IncomeGroup')).show(truncate=False)

+--------------------------+-------------------------------------------------------------------+
|Region                    |collect_set(IncomeGroup)                                           |
+--------------------------+-------------------------------------------------------------------+
|Latin America & Caribbean |[Lower middle income, High income, Upper middle income, Low income]|
|South Asia                |[Lower middle income, Upper middle income, Low income]             |
|Sub-Saharan Africa        |[Lower middle income, Upper middle income, Low income]             |
|Europe & Central Asia     |[Lower middle income, High income, Upper middle income, Low income]|
|Middle East & North Africa|[Lower middle income, High income, Upper middle income, Low income]|
|East Asia & Pacific       |[Lower middle income, High income, Upper middle income, Low income]|
|North America             |[High income]                                                      |
+--------------------------+-------------------------------------------------------------------+

## Collect list

In [25]:
df_non_null_data.groupBy('Region').agg(F.collect_list('IncomeGroup')).show(truncate=False)

+--------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Region                    |collect_list(IncomeGroup)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
+--------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Latin America & Caribbean |[High income, Upper middle income, High income, High income, Upper middle income, Lower middle income, Upper middle income, High income, High income, Upper middle income, Upper middle income, Upper middle income, High income, High income, Upper middle income, Upper middle income, Upper middle income, Upper middle income, Upper middle income, Upper middle income, Lower middle income, Low income, Upper middle income, High income, Upper middle income, High income, Upper middle income, Lower middle income, High income, Upper middle income, High income, Upper middle income, Lower middle income, Upper middle income, High income, High income, High income, Upper middle income, Upper middle income, High income, High income]                                                                                                                                                                        |
|South Asia                |[Low income, Lower middle income, Lower middle income, Lower middle income, Upper middle income, Upper middle income, Low income, Lower middle income]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
|Sub-Saharan Africa        |[Lower middle income, Low income, Low income, Low income, Upper middle income, Low income, Lower middle income, Lower middle income, Low income, Lower middle income, Lower middle income, Lower middle income, Low income, Upper middle income, Lower middle income, Low income, Low income, Low income, Upper middle income, Lower middle income, Low income, Lower middle income, Low income, Low income, Low income, Lower middle income, Upper middle income, Low income, Upper middle income, Low income, Lower middle income, Low income, Lower middle income, Lower middle income, Low income, Low income, Low income, Lower middle income, Lower middle income, Low income, Low income, Low income, Low income, Upper middle income, Lower middle income, Lower middle income]                                                                                                                                     |
|Europe & Central Asia     |[Upper middle income, High income, Upper middle income, High income, Upper middle income, High income, Upper middle income, Upper middle income, Upper middle income, High income, High income, High income, High income, High income, High income, High income, High income, High income, High income, High income, High income, Upper middle income, High income, High income, High income, High income, High income, High income, High income, High income, High income, Upper middle income, Lower middle income, High income, High income, High income, High income, High income, Lower middle income, Upper middle income, Upper middle income, High income, High income, High income, High income, Upper middle income, Upper middle income, High income, High income, High income, High income, Low income, Upper middle income, Upper middle income, Lower middle income, Lower middle income, Upper middle income]|
|Middle East & North Africa|[High income, High income, Lower middle income, Upper middle income, Lower middle income, Upper middle income, Upper middle income, High income, Upper middle income, Upper middle income, Upper middle income, Lower middle income, High income, High income, High income, High income, Low income, Lower middle income, Low income]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
|East Asia & Pacific       |[Upper middle income, High income, High income, Upper middle income, Upper middle income, Lower middle income, High income, High income, Lower middle income, High income, Lower middle income, Lower middle income, High income, Lower middle income, High income, Upper middle income, Lower middle income, Lower middle income, High income, Upper middle income, High income, Upper middle income, Lower middle income, High income, Lower middle income, Low income, High income, High income, Lower middle income, Upper middle income, Lower middle income, Upper middle income, Upper middle income, Lower middle income, Lower middle income, Upper middle income]                                                                                                                                                                                                                                                 |
|North America             |[High income, High income, High income]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
+--------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+